{{ ansible_managed | comment }}

# --------------------------------------
# BOOLEAN Values:
# a) 0 (zero) - disabled / no / false
# b) Non zero - enabled / yes / true
# --------------------------------------

{% for key, value in variables.items() | default({}) %}
  {% if value is bool %}
{{ key }} = {{ value | ternary("1", "0") }}
  {% else %}
{{ key }} = {{ value }}
  {% endif %}
{% endfor %}
